* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	font-size: 1rem;
	--user-font-scale: 1rem - 16px;
	font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
}

body {
	padding: 1rem 3rem;
	width: 100%;
	min-height: 100vh;
	background: #eda439;
	color: #080201;
}

h1 {
  font-size: 8em;
  max-width: 80%;
}

form, form div {
  display: flex;
  flex-direction: column;
}

form {
  margin-right: 5em;
}

label {
  font-weight: bold;
  color: black;
  background: white;
  width: max-content;
  padding: 0.5em;
}

input {
  background: black;
  color: white;
  padding: 1em;
  width: 20em;
  font-size: 1em;
  border: 2px solid white;
}

form > * + * {
  margin-block-start: 1.5rem;
}

form {
  margin-bottom: 1.5em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

nav {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

nav svg {
  width: 3em;
}

section {
  display: flex;
}

h1 {
  margin-bottom: 0.2em;
}

h3 {
  font-size: 2em;
  background: black;
  color: white;
  display: inline-block;
  padding: 0.5em;
}

section > div > * + * {
  margin-block-start: 1.5rem;
}

input[type=submit] {
  font-weight: bold;
}

.animate {
  animation: fade 1s ease;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}