<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Esteps calculator</title>

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <style global>
    @import "../styles/global.css";
  </style>
</head>

<body>
  <nav>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
        clip-rule="evenodd" />
    </svg>
  </nav>
  <main>
    <h1>E-steps Calculator</h1>
    <section>
      <form>
        <div>
          <label for="steps">Current e-step value (from software)</label>
          <input type="number" id="steps" name="steps">
        </div>
        <div>
          <label for="steps">Measured distance (in mm)</label>
          <input type="number" id="distance" name="distance">
        </div>
        <input type="submit" value="Calculate new value">
      </form>
      <div>
        <h2>New e-steps value should be:</h2>
        <h3>Not calculated yet...</h3>
        <p></p>
        <span></span>
      </div>
    </section>
  </main>
</body>

<script>
  const form = document.querySelector('form');
  const log = document.querySelector('h3');
  const explanation = document.querySelector('p');
  const formula = document.querySelector('span');

  function logSubmit() {
    const steps = document.querySelector('input[id="steps"]').value;
    const distance = document.querySelector('input[id="distance"]').value;
    description(steps, distance);
    log.classList.add('animate');
    log.textContent = calculate(steps, distance);
    event.preventDefault();
    setTimeout(removeClass, 300);
  }

  function removeClass() {
    log.classList.remove("animate")
  }

  function calculate(steps, distance) {
    return (steps * 100) / (120 - distance);
  }

  function description(steps, distance) {
    explanation.textContent = `There was ${distance}mm remaining, which means you extruded ${120 - distance}mm of filament.`
    formula.textContent = `Formula: (${steps} * 100) / (120 - ${distance})`
  }

  form.addEventListener('submit', logSubmit);

</script>

</html>